/* .Navbar{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 20px;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    flex-direction: row;
} */
